<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
      </handlers>
    </system.webServer>
  </location>
	<location path="pic/lunbo">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:30" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: aa33b378-ebe2-4ab6-ba65-4e320e3651f5-->
